@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    font-family: inter;
    background-color: #0F0F0F;
    color: white;

    padding: 0px;
    margin: 0px;

}

.logo {
    width: 100px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 35px;
    padding: 0px;
    
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    line-height: 40px;
}

form input {
    width: 320px;
    height: 28px;

    background-color: #8f8d8d;
    border-radius: 15px;

    margin-bottom: 8px;
    padding: 0px;

}

form input[type="submit"] {
    
    background: #8C77E0;
    width: 120px;
    height: 33px;
    border-radius: 20px;

    color: white;
    font-family: 'inter';
    font-style: normal;
    font-size: 20px;
    font-weight: 200px;
    align-items: center;
    text-align: center;

    margin-top: 12px;
    padding: 0px;
}

form input[id="prov"] {
    width: 250px;
    height: 40px;
    border-radius: 20px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 150px;
    font-size: 20px;
    align-items: center;
    text-align: center;
    color: white;

    margin: 0px;
    padding: 0px;
        
}

#textProv {
    text-align: center;
    line-height: 25px;


        
    margin: 12px;
    padding: 0px;

}

form p {
    display: flex;
    line-height: 10px;

}